<!DOCTYPE html>
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/default_layout.css">
<div id="page-header">
  <div id="page-header-content">
    {{> back-button referer=referer}}
    <div class="on-background-text headline-small">{{localization.about_page_title}}</div>
  </div>
</div>
<div id="page-body">
  <div class="section">
    <div class="title-medium-large on-surface-text label">{{localization.about_data_title}}</div>
    <div class="card on-surface-text title-medium-large">
      {{localization.about_data}}
    </div>
  </div>
  <div class="section">
    <div class="title-medium-large on-surface-text label">{{localization.about_song_ids_title}}</div>
    <div class="card on-surface-text title-medium-large">
      {{localization.about_song_ids}}
    </div>
  </div>
  <div class="section">
    <div class="title-medium-large on-surface-text label">{{localization.about_view_data_title}}</div>
    <div class="card on-surface-text title-medium-large">
      {{localization.about_view_data}}
    </div>
  </div>
  <div class="section">
    <div class="title-medium-large on-surface-text label">{{localization.about_datasets_title}}</div>
    {{#each scrapeDomains}}
    <details class="on-surface-text">
      <summary class="title-medium-large">{{@key}}{{../localization.about_datasets}}</summary>
      {{#each ListURLs}}
      <div class="title-medium-large">
        <a class="dataset-entry" href="{{../Domain}}{{this}}">{{this}}</a>
      </div>
      {{/each}}
    </details>
    {{/each}}
  </div>
</div>