<link rel="stylesheet" href="/css/add_song.css">
<link rel="stylesheet" href="/css/default_layout.css">
<div id="page-header">
  <div id="page-header-content">
    {{> back-button referer=referer}}
    <div class="on-background-text headline-small">{{localization.add_song}}</div>
  </div>
</div>
<div id="page-body">
  <form id="filter-form" action="/song/add" method="get" target="_self"
    class="filter-content list vertical on-background-text">
    <div id="url-input-container">
      <input class="title-medium-large" type="url" name="url" id="input-url" placeholder="https://vocadb.net/S/..."
        pattern="https://vocadb.net/S/.+" required>
      <div class="title-medium-large error-text">{{errorMessage}}</div>
    </div>

    <div class="card title-medium-large">
      <div>{{localization.add_song_instructions}}</div>
      <div>
        {{localization.add_song_format}}
        <div class="text bold sub">{{localization.add_song_format_example}}</div>
      </div>
    </div>

    <div class="card title-medium-large">
      {{localization.add_song_example}}
      <a href="https://vocadb.net/S/293881">https://vocadb.net/S/293881</a>
    </div>

    <div class="submit-container">
      <button class="material-button inverse label-large">{{localization.add_song_submit}}</button>
    </div>

  </form>
</div>