<!DOCTYPE html>
<link rel="stylesheet" href="/css/rankingsFilter.css">
<div class="page-card-container">
  
  {{> back-button}}
  
  <div class="headline-medium on-surface-text title">Filter</div>
  
  <form id="filter-form" action="/rankings/filter/add" method="get" target="_self" class="filter-content list vertical">
    {{#each filterOptions}}
      <div class="form-section list">

        <div class="title-medium-large on-surface-text">{{DisplayName}}</div>

        <div class="form-radio-container title-medium-large">
          {{#each Values}}
            <input type="radio" id="{{@key}}" name="{{@../key}}" value="{{@key}}" {{#if (get ../../filterDefaults @key)}}checked{{/if}}>
            <label for="{{@key}}">{{DisplayName}}</label>
          {{/each}}
        </div>

      </div>
    {{/each}}
    
    <div class="form-section">
      <div class="title-medium-large on-surface-text">Date</div>
      <input class="title-medium-large on-surface-text" type="date" id="Date" name="Date" value="{{defaultDate}}" min="{{minimumDate}}" max="{{maximumDate}}">
    </div>
    
    {{> default-hr}}
    
    <div class="submit-container">
      <button class="rounded-button">Filter</button>
    </div>
    
  </form>
  
</div>