<link rel="stylesheet" href="/css/home.css">
<div id="page-content">
    <div id="rankings-block" class="surface-block">
        <div id="rankings-block-fake-rankings">
            <div class="fake-rankings-entry">
                <div class="rank title-large">1</div>
                <div class="cover" style="background-image:url(/song/thumbnail/278267)"></div>
                <div class="title"></div>
                <div class="views"></div>
            </div>
            <div class="fake-rankings-entry">
                <div class="rank title-large">2</div>
                <div class="cover" style="background-image:url(/song/thumbnail/197929)"></div>
                <div class="title"></div>
                <div class="views"></div>
            </div>
            <div class="fake-rankings-entry">
                <div class="rank title-large">3</div>
                <div class="cover" style="background-image:url(/song/thumbnail/416174)"></div>
                <div class="title"></div>
                <div class="views"></div>
            </div>
        </div>
        <div id="rankings-block-body" class="on-surface-text">
            <div id="rankings-block-body-title"  class="title-large">
                <div id="rankings-block-body-logo">
                    {{> icon-svg}}
                </div>
                {{localization.home_rankings}}
            </div>
            <div class="body-large">
                {{localization.home_rankings_info}}
            </div>
            <div id="rankings-block-outgoing">
                <a class="material-button inverse label-large" href="/rankings">{{localization.home_rankings_view}}</a>
            </div>
        </div>
    </div>
    <div id="artists-block">
        <div id="artists-block-body" class="on-surface-text">
            <div class="title-large">{{localization.home_artists}}</div>
            <div class="body-large">
                {{localization.home_artists_info}}
            </div>
            <div id="artists-block-body-outgoing">
                <a class="material-button inverse label-large" href="/rankings/singers">{{localization.home_artists_view_singers}}</a>
                <a class="material-button inverse label-large" href="/rankings/producers">{{localization.home_artists_view_producers}}</a>
            </div>
        </div>
        <div id="artists-block-display">
            <img class="artists-block-display-singer" src="https://static.vocadb.net/img/artist/mainThumb/1.png?v=32">
            <div id="artists-block-display-producers">
                <img class="artists-block-display-producer"
                    src="https://static.vocadb.net/img/artist/mainThumb/470.jpg?v=43">
                <img class="artists-block-display-producer"
                    src="https://static.vocadb.net/img/artist/mainThumb/65229.jpg?v=14">
            </div>
            <img class="artists-block-display-singer"
                src="https://static.vocadb.net/img/artist/mainThumb/83928.png?v=27">
        </div>
    </div>
    <div class="info-section">
        <div class="info-block on-surface-text">
            <div class="title-large">{{localization.home_trending}}</div>
            <div class="body-large">
                {{localization.home_trending_info}}
            </div>
            <div class="info-block-outgoing">
                <a class="material-button inverse label-large" href="/rankings/trending">{{localization.home_trending_view}}</a>
            </div>
        </div>
        <div class="info-block on-surface-text">
            <div class="title-large">{{localization.home_add_song}}</div>
            <div class="body-large">
                {{localization.home_add_song_info}}
            </div>
            <div class="info-block-outgoing">
                <a class="material-button inverse label-large" href="/song/add">{{localization.home_add_song_add}}</a>
            </div>
        </div>
    </div>
    <div class="info-section">
        <div class="info-block on-surface-text">
            <div class="title-large">{{localization.home_about}}</div>
            <div class="body-large">
                {{localization.home_about_info}}
            </div>
            <div class="info-block-outgoing">
                <a class="material-button inverse label-large" href="/about">{{localization.home_about_view}}</a>
            </div>
        </div>
        <div class="info-block on-surface-text">
            <div class="title-large">{{localization.home_settings}}</div>
            <div class="body-large">
                {{localization.home_settings_info}}
            </div>
            <div class="info-block-outgoing">
                <a class="material-button inverse label-large" href="/settings">{{localization.home_settings_view}}</a>
            </div>
        </div>
    </div>
</div>