<!DOCTYPE html>
<link rel="stylesheet" href="/css/rankingsV2.css">

<style>
@media (prefers-color-scheme: dark) {
    {{#each rankings}} 
        #e{{placement}} .title .main-title:hover {
            color: {{song.darkColor}}
        }
    {{/each}}
}

@media (prefers-color-scheme: light) {
    {{#each rankings}} 
        #e{{placement}} .title .main-title:hover {
            color: {{song.lightColor}}
        }
    {{/each}}
}
</style>

<div id="rankings-container">

    <div id="rankings-sidebar">
        <div id="filter-container" class="sidebar-card body-medium on-surface-text">
            {{#each filterParams}}
            <div class="filter-dataset">
                <div class="title">{{title}}</div>
                {{#if isDefault}}
                  <div class="value">{{value}}</div>
                {{else}}
                  <div class="chip-group">
                    {{#each value}}
                      <a class="chip input with-trailing" href="/rankings/filter/remove?{{../name}}={{@key}}">
                        <div class="text label-large">{{this}}</div>
                        <span class="material-symbols-rounded">close</span>
                      </a>
                    {{/each}}
                  </div>
                {{/if}}
            </div>
            {{/each}}
            <a id="filter-button" class="material-button with-icon inverse label-large" href="/rankings/filter">
                <span class="material-symbols-rounded">filter_alt</span>
                Filter
            </a>
        </div>
        <a id="mobile-filter-button" class="material-button with-icon inverse label-large" href="/rankings/filter">
            <span class="material-symbols-rounded">filter_alt</span>
            Filter
        </a>
    </div>

    <div id="rankings-content">
        {{#each rankings}}

            <div id="e{{placement}}" class="rankings-entry">
                <div class="rank title-large">{{placement}}</div>
                <a class="cover" style="background-image:url({{song.thumbnail}})" href="song/{{song.id}}"></a>
                <div class="title">
                    <a class="main-title title-medium-large" href="song/{{song.id}}">{{preferredName}}</a>
                    <div class="artists">
                        {{#each producers}}
                            <a class="label title-small artist" href="artist/{{id}}">{{preferredName}}</a>
                        {{/each}}
                    </div>
                </div>
                <div class="views">
                    <div class="title-medium-large">{{longFormat views}}</div>
                    <div class="label title-small">Views</div>
                </div>
            </div>

        {{/each}}

        <div id="page-selector-container">
          {{#if previousPage}}
            <a class="icon-button" href="{{previousPage}}">
              <span class="material-symbols-rounded">arrow_back</span>
            </a>
          {{/if}}
          {{#if firstPage}}
            <a class="outlined icon-button" href="{{firstPage}}">
              <div class="title-medium-large">1</div>
            </a>
            <span class="material-symbols-rounded">more_horiz</span>
          {{/if}}
          {{#each surroundingPages}}
            <a class="outlined icon-button {{#if (comp @index ../currentPageNumber)}}selected active{{/if}}" href="{{this}}">
              <div class="title-medium-large">{{inc @index 1}}</div>
            </a>
          {{/each}}
          {{#if lastPage}}
            <span class="material-symbols-rounded">more_horiz</span>
            <a class="outlined icon-button" href="{{lastPage}}">
              <div class="title-medium-large">{{lastPageNumber}}</div>
            </a>
          {{/if}}
          {{#if nextPage}}
            <a class="icon-button" href="{{nextPage}}">
              <span class="material-symbols-rounded">arrow_forward</span>
            </a>
          {{/if}}
        </div>
    </div>
</div>