<!DOCTYPE html>
<link rel="stylesheet" href="/css/rankingsV2.css">

<style>
@media (prefers-color-scheme: dark) {
    {{#each rankings}} 
        #e{{placement}} .title .main-title:hover {
            color: {{song.darkColor}}
        }
    {{/each}}
}

@media (prefers-color-scheme: light) {
    {{#each rankings}} 
        #e{{placement}} .title .main-title:hover {
            color: {{song.lightColor}}
        }
    {{/each}}
}
</style>

<div id="rankings-container">

    <div id="rankings-sidebar">
        <div id="filter-container" class="sidebar-card body-medium on-surface-text">
            <div class="filter-dataset">
                <div class="title">View Type</div>
                <div class="value">Combined</div>
            </div>
            <div class="filter-dataset">
                <div class="title">Time Period</div>
                <div class="value">All Time</div>
            </div>
            <div class="filter-dataset">
                <div class="title">Singer Type</div>
                <div class="value">All</div>
            </div>
            <div class="filter-dataset">
                <div class="title">Direction</div>
                <div class="value">Descending</div>
            </div>
            <div class="filter-dataset">
                <div class="title">Sort By</div>
                <div class="value">Views</div>
            </div>
            <div class="filter-dataset">
                <div class="title">Date</div>
                <a class="chip input with-trailing" href="">
                    <div class="text label-large">02/18/2023</div>
                    <span class="material-symbols-rounded">close</span>
                </a>
            </div>
            <a id="filter-button" class="material-button with-icon inverse label-large" href="/rankings/filter">
                <span class="material-symbols-rounded">filter_alt</span>
                Filter
            </a>
        </div>
        <a id="mobile-filter-button" class="material-button with-icon inverse label-large" href="/rankings/filter">
            <span class="material-symbols-rounded">filter_alt</span>
            Filter
        </a>
    </div>

    <div id="rankings-content">
        {{#each rankings}}

            <div id="e{{placement}}" class="rankings-entry">
                <div class="rank title-large">{{placement}}</div>
                <a class="cover" style="background-image:url({{song.thumbnail}})" href="song/{{song.id}}"></a>
                <div class="title">
                    <a class="main-title title-medium-large" href="song/{{song.id}}">{{preferredName}}</a>
                    <div class="artists">
                        {{#each producers}}
                            <a class="label title-small artist" href="artist/{{id}}">{{preferredName}}</a>
                        {{/each}}
                    </div>
                </div>
                <div class="views">
                    <div class="title-medium-large">{{longFormat views}}</div>
                    <div class="label title-small">Views</div>
                </div>
            </div>

        {{/each}}
    </div>
</div>