<!DOCTYPE html>
<link rel="stylesheet" href="/css/rankingsV2.css">

<style>
@media (prefers-color-scheme: dark) {
    {{#each rankings}} 
        #e{{placement}} .title .main-title:hover {
            color: {{song.darkColor}}
        }
    {{/each}}
}

@media (prefers-color-scheme: light) {
    {{#each rankings}} 
        #e{{placement}} .title .main-title:hover {
            color: {{song.lightColor}}
        }
    {{/each}}
}
</style>

<div id="rankings-container">

    <div></div>

    <div id="rankings-content">
        {{#each rankings}}

            <div id="e{{placement}}" class="rankings-entry">
                <div class="rank title-large">{{placement}}</div>
                <a class="cover" style="background-image:url({{song.thumbnail}})" href="song/{{song.id}}"></a>
                <div class="title">
                    <a class="main-title title-medium-large" href="song/{{song.id}}">{{preferredName}}</a>
                    <div class="artists">
                        {{#each producers}}
                            <a class="label title-small artist" href="artist/{{id}}">{{preferredName}}</a>
                        {{/each}}
                    </div>
                </div>
                <div class="views">
                    <div class="title-medium-large">{{longFormat views}}</div>
                    <div class="label title-small">Views</div>
                </div>
            </div>

        {{/each}}
    </div>
</div>