<!DOCTYPE html>
<link rel="stylesheet" href="/css/rankingsFilter.css">
<div class="page-card-container on-surface-text">
  
  {{> back-button}}
  
  <div class="headline-medium title">Settings</div>
  
  <form id="filter-form" action="/settings" method="post" target="_self" class="filter-content list vertical">
    
    {{#each filterOptions}}
      <div class="form-section list title-medium-large">

        <div >{{DisplayName}}</div>

        <div class="form-radio-container">
          {{#each Values}}
            <input type="radio" id="{{@key}}" name="{{@../key}}" value="{{@key}}" {{#if (comp @key (get ../../cookies @../key))}}checked{{/if}}>
          
            <label for="{{@key}}">{{DisplayName}}</label>
          
          {{/each}}
        </div>

      </div>
    {{/each}}
    
    {{> default-hr}}
    
    <div class="submit-container">
      <button class="rounded-button">Save</button>
    </div>
    
  </form>
  
</div>