<link rel="stylesheet" href="/css/settings.css">
<link rel="stylesheet" href="/css/default_layout.css">
<form id="filter-form" action="/settings" method="post" target="_self" class="filter-content list vertical">
    <div id="page-header">
        <div id="page-header-content" class="on-background-text">
            {{> back-button referer=referer}}
            <div class="on-background-text headline-small">{{localization.settings}}</div>
            <div class="flex-divider"></div>
            <button id="header-save-button" class="material-button inverse label-large">{{localization.save}}</button>
        </div>
    </div>
    <div id="page-body">
        {{#each filterOptions}}
            <div class="settings-entry">
                <div class="title-medium-large on-surface-text">{{localize displayName}}</div>
                {{#if description}}
                <div class="settings-entry-description label-large on-surface-text">{{localize description}}</div>
                {{/if}}
                <div class="chip-group title-medium-large">
                    {{#each values}}
                        <input type="radio" id="{{@../key}}{{id}}" name="{{@../key}}" value="{{id}}" {{#if (comp id (get ../../cookies @../key))}}checked{{/if}}>

                        <label class="filter chip" for="{{@../key}}{{id}}">
                            <span class="material-symbols-rounded leading">done</span>
                            {{localize name}}
                        </label>
                    {{/each}}
                </div>
            </div>
        {{/each}}
        <button id="body-save-button" class="material-button inverse label-large">{{localization.save}}</button>
    </div>
</form>