<!DOCTYPE html>
<link rel="stylesheet" href="/css/rankings.css">

<style>
@media (prefers-color-scheme: dark) {
    {{#each trending}} 
        #e{{placement}} .title .main-title:hover {
            color: {{song.darkColor}}
        }
    {{/each}}
}

@media (prefers-color-scheme: light) {
    {{#each trending}} 
        #e{{placement}} .title .main-title:hover {
            color: {{song.lightColor}}
        }
    {{/each}}
}
</style>

<div id="rankings-container">

    <div id="rankings-sidebar">
        <div class="body-large bold on-background-text section-title">Trending Within</div>
        <div id="quick-filter-container" class="sidebar-card body-medium on-surface-text">
          <a class="material-button outlined label-large" href="/rankings/trending?range=0">Past Day</a>
          <a class="material-button outlined label-large" href="/rankings/trending?range=1">Past Week</a>
          <a class="material-button outlined label-large" href="/rankings/trending?range=2">Past Month</a>
        </div>
    </div>

    <div id="rankings-content">
        {{#each trending}}

            <div id="e{{placement}}" class="rankings-entry">
                <div class="rank title-large">{{placement}}</div>
                <a class="cover" style="background-image:url(/song/thumbnail/{{song.id}})" href="/song/{{song.id}}?referer=/rankings/trending"></a>
                <div class="title">
                    <a class="main-title title-medium-large" href="/song/{{song.id}}?referer=/rankings/trending">{{preferredName}}</a>
                    <div class="artists">
                        {{#each producers}}
                            <a class="label title-small artist" href="/artist/{{id}}?referer=/rankings/trending">{{preferredName}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>

        {{/each}}

    </div>
</div>