<!DOCTYPE html> 
  <link rel="stylesheet" href="../css/rankings_new.css">
  <link rel="stylesheet" href="../css/year_review.css">
    <div class="list vertical"> 
      
      <div id="page-title" class="text title centered">Year in Review</div>
      <div class="text centered">The top Vocaloid songs released in {{year}}.</div>
      
      <div id="midpage" class="centering-flex">
        
        <div id="top-container">
          <div id="top-controls-container">
            <div id="applied-filters-container">
              <a class="top-controls-button button-link" href="/rankings" title="Go Back">
                <span class="material-symbols-rounded">home</span>
              </a>
            </div>
            {{#if databaseUpdating}}      
              <div id="rankings-refresh-label" class="top-controls-button" title="Rankings Refreshing">
                <div id="rankings-refresh-label-background" style="width:{{percent databaseUpdating.progress}}"></div>
                <span class="material-symbols-rounded noselect">autorenew</span>
                <div id="rankings-refresh-label-progress" class="text bold">{{percent databaseUpdating.progress}}</div>
              </div>
              <script src="../js/rankings_refresh.js" defer></script>
            {{/if}}
            <a class="top-controls-button button-link" href="/settings" title="Settings">
              <span class="material-symbols-rounded">settings</span>
            </a>
          </div>
        </div>

        <div class="text sub-title section-title">Highlights</div>
        <div id="highlights-list">
          {{#each highlights}}
            <div class="highlights-item">
              <div class="thumbnail" style='background-image:url("{{thumbnail}}")'></div>
              <div class="text">
                <div class="highlights-item-title">{{title}}</div>
                <div class="highlights-item-description">{{description}}</div>
              </div>
            </div>
          {{/each}}
        </div>

        <style>
          {{#each lists}} 
            .radio-tab.{{name}}:checked ~ .radio-tab-content.{{name}} { display: flex !important; }
          {{/each}}
        </style>
        <div class="section-title centering-flex tab-container">
          <div class="text sub-title">Top 10 Songs</div>
          <div class="flex-divider"></div>
          {{#each lists}}
            <input class="radio-tab {{name}}" type="radio" name="rankings-tab" id="radio-views-{{name}}" {{#if (comp @index 0)}}checked{{/if}}>
            <label class="text" for="radio-views-{{name}}">{{name}}</label>
          {{/each}}
          {{#each lists}}
          <div class="rankings-list radio-tab-content {{name}}">
            
            <div class="rankings-list-header">
              <div class="rankings-list-entry-item rank"></div>
              <div class="rankings-list-entry-item cover"></div>
              <div class="rankings-list-entry-item title">Song Name</div>
              <div class="rankings-list-entry-item views">Views</div>
            </div>
            
            {{#each data}}

              <div class="rankings-list-entry">
                
                <div class="rankings-list-entry-item rank">
                  <div class="text bold">{{inc @index (inc 1 ../filterParams.StartAt)}}</div>
                </div>
                
                <div class="rankings-list-entry-item cover" style='background-image:url("{{thumbnail}}")'></div>

                <div class="rankings-list-entry-item title">
                  <a href="/song/{{songId}}">{{name}}</a>
                  <div class="producer">{{producer}}</div>
                </div>
                <div class="rankings-list-entry-item views">{{longFormat total}}</div>
                
              </div> 

            {{/each}}
            
          </div>
        {{/each}}

        </div>
         <a id="see-all-button" class="top-controls-button button-link" href="year-review/full" title="See All">See Full List</a>
      </div>
      
      
    
    </div>