<noscript>
    <style>
        button.back-button {
            display: none;
        }
    </style>
    <a id="{{id}}" class="{{class}} icon-button" href="{{referer}}">
        <span class="material-symbols-rounded">arrow_back</span>
    </a>
</noscript>
<button id="{{id}}" onclick="history.back()" class="{{class}} icon-button">
    <span class="material-symbols-rounded">arrow_back</span>
</button>