<link rel="stylesheet" href="/css/nav.css">
<div id="nav-bar">
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle" style="display: none;">
    <div id="nav-content" class="centering-flex">
        <div id="nav-head">
            <label for="drawer-toggle" id="drawer-toggle-icon" class="icon-button">
                <span class="material-symbols-rounded">menu</span>
            </label>

            <a id="logo" href="/">
                <svg class="content" height="32" viewBox="0 96 960 960" width="32" version="1.1" id="svg4" fill="var(--md-sys-color-on-background)"
                    xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                    <defs id="defs8">
                        <clipPath clipPathUnits="userSpaceOnUse" id="clipPath1466">
                            <path id="path1468"
                                style="fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:20"
                                d="m -761.36718,283.85156 v 524.21876 h 524.2578 V 283.85156 Z m 235.23436,247.26562 c 16.24832,-2.62266 36.44842,0.9172 58.8672,13.71094 4.36144,2.48898 8.72336,5.02404 12.85156,7.89064 6.84382,4.85494 14.13106,9.09952 20.35156,14.80468 12.39768,11.2212 21.848,22.91844 28.16406,38.59374 5.30908,14.69898 8.37672,28.56344 7.42188,44.33594 -0.5286,6.92682 -0.6242,11.26102 -2.42188,18.35938 -2.89368,11.42582 -8.18356,21.8058 -15.42968,31.05468 -9.18692,11.0861 -19.6019,20.16238 -32.69532,26.40626 -2.795,1.1606 -5.5593,2.42844 -8.39844,3.47656 -10.21622,3.77156 -21.11864,5.29756 -31.91406,6.17188 -14.43148,0.7746 -29.72044,0.9188 -43.39844,-4.53126 -4.47136,-1.7816 -8.65316,-4.27478 -12.96874,-6.40624 -12.18124,-11.13948 -22.7271,-17.35574 -24.96094,-36.32814 -1.3124,-11.14716 -0.168,-23.00992 3.98438,-33.43748 0.9396,-2.35938 2.91314,-3.58112 4.14062,-5.625 -47.22448,-36.41872 -40.57794,-83.73066 0.4688,-92.34376 6.13554,-13.13368 18.4513,-23.31034 35.9375,-26.13282 z" />
                        </clipPath>
                    </defs>
                    <sodipodi:namedview id="namedview6" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                        inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                        inkscape:deskcolor="#d1d1d1" showgrid="false" />
                    <path id="path2" style="stroke-width:0.434257"
                        d="m 508.21651,584.58379 c -7.2377,0 -13.4074,2.5319 -18.47376,7.59826 -5.06636,5.06637 -7.59825,11.21517 -7.59825,18.45286 v 169.35305 c -4.92161,-4.0532 -10.62388,-7.22355 -17.13777,-9.53965 -6.51389,-2.31598 -13.83269,-3.48604 -21.93886,-3.48604 -18.23889,0 -33.64298,6.29769 -46.23651,18.89128 -12.59354,12.59358 -18.89125,28.01851 -18.89122,46.25742 -3e-5,18.23888 6.29768,33.64299 18.89122,46.23641 12.59353,12.59357 27.99762,18.89127 46.23651,18.89127 18.23888,0 33.66386,-6.2977 46.25739,-18.89127 12.59354,-12.59342 18.89125,-27.99753 18.89125,-46.23641 V 643.19876 h 46.46611 c 8.10617,0 14.97841,-2.89355 20.62378,-8.68367 5.64537,-5.79011 8.45408,-12.72636 8.45408,-20.83253 0,-8.10618 -2.80871,-14.9993 -8.45408,-20.64467 -5.64537,-5.64536 -12.51761,-8.4541 -20.62378,-8.4541 z" />
                    <path
                        d="m -499.23736,768.74503 q 54.38869,0 92.7229,-38.3342 38.33419,-38.33421 38.33419,-92.72289 0,-54.3887 -38.33419,-92.72289 -38.33421,-38.3342 -92.7229,-38.3342 -54.38869,0 -92.72289,38.3342 -38.33419,38.33419 -38.33419,92.72289 0,54.38868 38.33419,92.72289 38.3342,38.3342 92.72289,38.3342 z m -87.80825,-277.18575 q 18.348,-11.13985 39.31713,-17.36507 20.96913,-6.2252 43.90413,-6.8805 l -72.08141,-144.16279 h -95.67167 z m -47.83584,249.00847 q -16.38214,-21.62442 -25.55613,-47.5082 -9.174,-25.88377 -9.174,-55.37161 0,-29.48785 9.174,-55.37163 9.17399,-25.88377 25.55613,-47.50819 -37.35127,6.55286 -62.25211,35.05777 -24.90085,28.50491 -24.90085,67.82205 0,39.31712 24.90085,67.82203 24.90084,28.50493 62.25211,35.05778 z m 271.28818,0 q 37.35127,-6.55285 62.25212,-35.05778 24.90085,-28.50491 24.90085,-67.82203 0,-39.31714 -24.90085,-67.82205 -24.90085,-28.50491 -62.25212,-35.05777 16.38213,21.62442 25.55613,47.50819 9.174,25.88378 9.174,55.37163 0,29.48784 -9.174,55.37161 -9.174,25.88378 -25.55613,47.5082 z m -135.64409,67.4944 q -26.21142,0 -50.12933,-7.53578 -23.91792,-7.53578 -44.23177,-20.6415 -5.89757,1.31058 -11.79514,1.63822 -5.89757,0.32764 -12.45042,0.32764 -59.63098,0 -101.56925,-41.93826 -41.93828,-41.93828 -41.93828,-101.56925 0,-57.00984 38.00657,-97.63753 38.00656,-40.6277 93.70582,-45.2147 l -91.08468,-183.47993 q -5.24228,-9.82927 0.65529,-19.00327 5.89757,-9.17399 17.03742,-9.17399 h 127.12537 q 11.13986,0 20.6415,5.89756 9.50163,5.89757 14.74392,15.72685 l 41.28298,83.22126 41.28298,-83.22126 q 5.24229,-9.82928 14.74393,-15.72685 9.50164,-5.89756 20.64149,-5.89756 h 127.12537 q 11.13986,0 17.03743,9.17399 5.89757,9.174 0.65528,19.00327 l -90.42939,182.16936 q 55.69926,5.24228 93.37818,45.86998 37.67891,40.6277 37.67891,97.63754 0,60.28625 -41.93827,102.22453 -41.93827,41.93826 -102.22453,41.93826 -5.89756,0 -12.12278,-0.32764 -6.22521,-0.32764 -12.12278,-1.63822 -20.31385,13.10572 -43.90413,20.6415 -23.59027,7.53578 -49.80169,7.53578 z m 0,-170.37421 z m -87.80825,-146.12866 -84.53182,-168.40836 z m 87.80825,181.51407 -36.0407,27.52198 q -3.27642,1.96586 -6.22521,0 -2.94878,-1.96585 -1.63822,-5.24228 l 13.761,-45.21469 -36.0407,-25.55614 q -3.27642,-1.96585 -1.96586,-5.56992 1.31058,-3.60407 4.58701,-3.60407 h 44.5594 l 14.41629,-47.18055 q 1.31056,-3.27643 4.58699,-3.27643 3.27642,0 4.587,3.27643 l 14.41628,47.18055 h 44.55941 q 3.27642,0 4.587,3.60407 1.31057,3.60407 -1.96586,5.56992 l -36.04069,25.55614 13.76098,45.21469 q 1.31058,3.27643 -1.63821,5.24228 -2.94878,1.96586 -6.22521,0 z m 87.80825,-181.51407 84.53182,-168.40836 h -95.67167 l -54.38869,109.43267 19.65856,39.31713 q 12.45042,3.27642 23.91792,8.19106 11.4675,4.91465 21.95206,11.4675 z"
                        id="path1449" style="stroke-width:0.655285" clip-path="url(#clipPath1466)"
                        transform="matrix(1.8103967,0,0,1.8103967,1384.6679,-411.54824)" />
                </svg>
            </a>

            <div id="nav-links" class="title-medium">
                <a class="nav-link" href="/rankings">{{localization.nav_rankings}}</a>
                <a class="nav-link" href="/rankings/trending">{{localization.nav_trending}}</a>
                <a class="nav-link" href="/rankings/singers">{{localization.nav_singers}}</a>
                <a class="nav-link" href="/rankings/producers">{{localization.nav_producers}}</a>
            </div>
        </div>
        <div id="nav-tail" class="nav-column-group">
            <form id="nav-search-form" action="/search" method="get" target="_self">
                {{> search-bar placeholder=localization.search_hint}}
            </form>
            <a id="settings-link" href="/settings" class="icon-button" title="{{localization.settings}}">
                <span class="material-symbols-rounded">settings</span>
            </a>
        </div>
    </div>
    <nav id="nav-drawer">
        <span id="nav-drawer-surface" class="surface level-2"></span>
        <div id="nav-drawer-content">
            <div id="nav-drawer-head" class="nav-drawer-column-group">
                <a id="nav-drawer-settings-link" href="/settings" class="icon-button" title="{{localization.settings}}">
                    <span class="material-symbols-rounded">settings</span>
                </a>
                <form id="nav-drawer-search-form" action="/search" method="get" target="_self">
                    {{> search-bar placeholder=localization.search_hint}}
                </form>
            </div>

            {{> default-hr}}
            <div class="nav-drawer-link-group title-medium">
                <a class="nav-drawer-link" href="/rankings">
                    <span class="material-symbols-rounded">menu</span>
                    {{localization.nav_rankings}}
                </a>
                <a class="nav-drawer-link" href="/rankings/trending">
                    <span class="material-symbols-rounded">trending_up</span>
                    {{localization.nav_trending}}
                </a>
                <a class="nav-drawer-link" href="/rankings/singers">
                    <span class="material-symbols-rounded">mic</span>
                    {{localization.nav_singers}}
                </a>
                <a class="nav-drawer-link" href="/rankings/producers">
                    <span class="material-symbols-rounded">music_note</span>
                    {{localization.nav_producers}}
                </a>
            </div>
            {{> default-hr}}
        </div>
    </nav>
    <label for="drawer-toggle" id="nav-scrim"></label>
</div>