<link rel="stylesheet" href="/css/nav.css">
<div id="nav-bar">
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle" style="display: none;">
    <div id="nav-content" class="centering-flex">
        <div id="nav-head">
            <label for="drawer-toggle" id="drawer-toggle-icon" class="icon-button">
                <span class="material-symbols-rounded">menu</span>
            </label>

            <a id="logo" href="/">
                <img class="content" src="/images/github-mark-white.png">
            </a>

            <div id="nav-links" class="title-medium">
                <a class="nav-link" href="/rankings">{{localization.nav_rankings}}</a>
                <a class="nav-link" href="/trending">{{localization.nav_trending}}</a>
                <a class="nav-link" href="/singers">{{localization.nav_singers}}</a>
                <a class="nav-link" href="/producers">{{localization.nav_producers}}</a>
            </div>
        </div>

        <div id="nav-tail" class="nav-column-group">
            <form id="nav-search-form" action="/search" method="get" target="_self">
                <input class="title-medium" name="searchQuery" id="nav-search-query" placeholder="{{localization.search_hint}}" required>
                <button id="nav-search-submit" class="centering-flex">
                    <span class="material-symbols-rounded">search</span>
                </button>
            </form>
            <a id="settings-link" href="/settings" class="icon-button" title="{{localization.settings}}">
                <span class="material-symbols-rounded">settings</span>
            </a>
        </div>
    </div>
    <nav id="nav-drawer">
        <span id="nav-drawer-surface" class="surface level-2"></span>
        <div id="nav-drawer-content">
            <div id="nav-drawer-head" class="nav-drawer-column-group">
                <a id="nav-drawer-settings-link" href="/settings" class="icon-button" title="{{localization.settings}}">
                    <span class="material-symbols-rounded">settings</span>
                </a>
                <form id="nav-drawer-search-form" action="/search" method="get" target="_self">
                    <input class="title-medium" name="searchQuery" id="nav-drawer-search-query" placeholder="{{localization.search_hint}}"
                        required>
                    <button id="nav-drawer-search-submit" class="centering-flex">
                        <span class="material-symbols-rounded">search</span>
                    </button>
                </form>
            </div>

            {{> default-hr}}
            <div class="nav-drawer-link-group title-medium">
                <a class="nav-drawer-link" href="/rankings">
                    <span class="material-symbols-rounded">menu</span>
                    {{localization.nav_rankings}}
                </a>
                <a class="nav-drawer-link" href="/trending">
                    <span class="material-symbols-rounded">trending_up</span>
                    {{localization.nav_trending}}
                </a>
                <a class="nav-drawer-link" href="/singers">
                    <span class="material-symbols-rounded">mic</span>
                    {{localization.nav_singers}}
                </a>
                <a class="nav-drawer-link" href="/producers">
                    <span class="material-symbols-rounded">music_note</span>
                    {{localization.nav_producers}}
                </a>
            </div>
            {{> default-hr}}
        </div>
    </nav>
    <label for="drawer-toggle" id="nav-scrim"></label>
</div>